[Unit]
Description=Hargassner Gateway and MQTT Service
After=network.target

[Service]
Type=simple
# ExecStart=/usr/local/bin/myhargassner
ExecStart=/usr/bin/python3 -m myhargassner.main
User=root
WorkingDirectory=/etc/myhargassner
Restart=on-failure

[Install]
WantedBy=multi-user.target
